# Required: connection params for oscy db
PG_USER=
PG_PASSWORD=
PG_DBNAME=oscy
PG_HOST=localhost
PG_PORT=5432
PG_SSLMODE=prefer

# Docker only: password to be used for default 'postgres' user
PG_POSTGRES_PASSWORD=password

# Frontend: hostnames
LOCAL_API_HOST=localhost
PROD_API_HOST=
PROD_SITE_HOST=

# (Optional) Frontend: TMDB API key for fetching images
# See https://developer.themoviedb.org/docs/getting-started
TMDB_API_KEY=

# (Optional) Frontend: HMAC secret for revalidating cache
# See frontend/src/app/api/revalidate/route.ts and
# backend/db/src/oscy/revalidate.py
REVALIDATION_SECRET=

# (Optional) If using update script, production database URI goes here (use db
# owner, no connection pooling)
PG_PROD_URI=
